# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/
ios/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Firebase config files
config/ios/GoogleService-Info.plist
config/android/google-services.json
android/app/google-services.json
android/app/GoogleService-Info.plist
ios/*/GoogleService-Info.plist

# Service account key
config/google-service-account-key.json

# Android
android/app/app-ads.txt
android/app/*.keystore
android/app/*.jks
android/app/*.p12
android/app/*.key

# Environment variables
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
